//- using

//- +rate-button({
//-     fieldset_classes: ['rate-button', ''],
//-     label_classes: ['rate-button__label', ''],
//-     input_classes: ['rate-button__input', ''],
//-     input_name: '',
//-     input_id: ['', '', '', '', ''],
//- })

mixin rate-button(arg)
    fieldset(class = arg.fieldset_classes)
        input(class = arg.input_classes type="radio" id=arg.input_id[0] name=arg.input_name value="5")
        label(class = arg.label_classes for=arg.input_id[0])
        input(class = arg.input_classes type="radio" id=arg.input_id[1] name=arg.input_name value="4")
        label(class = arg.label_classes for=arg.input_id[1])
        input(class = arg.input_classes type="radio" id=arg.input_id[2] name=arg.input_name value="3")
        label(class = arg.label_classes for=arg.input_id[2]) 
        input(class = arg.input_classes type="radio" id=arg.input_id[3] name=arg.input_name value="2")
        label(class = arg.label_classes for=arg.input_id[3]) 
        input(class = arg.input_classes type="radio" id=arg.input_id[4] name=arg.input_name value="1")
        label(class = arg.label_classes for=arg.input_id[4])